<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Nate Kootstra </title>



  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base/core.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base/image.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base/navbar.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base/section.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base/subtitle.css')}}">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home/subtitle.css')}}">

  <script src="{{ url_for('static', filename='scripts/main.js')}}"></script>

</head>

<body>

  <main>

    <!-- Navbar Section -->
    <div class="navbarSection">
      <div class="title">
        <h1 class="title">Nate Kootstra</h1>
        <!-- Social Media Links -->
        <div class="social">
          <a href="https://github.com/natekootstra">
            <img class="social" src="{{ url_for('static', filename='images/icons/github.png')}}">
          </a>
        </div>
      </div>
      <!-- Navigation Bar -->
      <li class="navbar">
        <a href="/" class="selected">Home</a>
        <a href="/mintmc">MintMC</a>
        <a href="/coming-soon">NFCLib</a>
        <a href="/coming-soon">CBOD</a>
      </li>
    </div>
    <!-- Navbar Section End -->

    <!-- Subtitle Section -->
    <div class="subtitleSection">
      <div class="subtitlePadding">
        <div></div>
        <div></div>
      </div>
      <div class="subtitlePadding">
        <div></div>
      </div>
      <h1 class="subtitle">HOME</h1>
      <div class="subtitlePadding">
        <div></div>
      </div>
      <div class="subtitlePadding">
        <div></div>
      </div>
    </div>
    <!-- Subtitle Section End -->

    <!-- About Me Section -->
    <div class="sectionContainer">
      <h2 class="sectionTitle">About Me</h2>

      <p> I'm Nate! A hobbiest software developer, occaisonal web developer, and general nerd.<br>
        I primarily program in Java, Python, and C# and do web development using Flask and HTML/CSS/JS.<br>
        I also participate in FIRST robotics, on team 772, where we compete each year to build and drive the best
        robots
        for specific tasks.<br>
      </p>
    </div>

    <!-- My Hobbies -->
    <div class="sectionContainer">
      <h2 class="sectionTitle">About Me</h2>

      <p> I'm Nate! A hobbiest software developer, occaisonal web developer, and general nerd.<br>
        I primarily program in Java, Python, and C# and do web development using Flask and HTML/CSS/JS.<br>
        I also participate in FIRST robotics, on team 772, where we compete each year to build and drive the best
        robots
        for specific tasks.<br>
      </p>
    </div>

    <!-- Image -->
    <!-- <img class="main" src="{{ url_for('static', filename='images/nate.jpg')}}" -->
    <!-- alt="Photo of me in the 772 robotics room."> -->

  </main>



</body>

</html>