div.subtitlePadding:nth-child(1) div {
    height: 50%;
    width: calc(100% - 1px);

    border-top: 1px solid white;
    border-right: 1px solid white;
}

div.subtitlePadding:nth-child(2) div {

    height: 50%;

    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

div.subtitlePadding:nth-child(4) div {

    height: 50%;
    width: calc(100% - 1px);

    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

div.subtitlePadding:nth-child(5) div:nth-child(1) {
    height: 50%;

    border-left: none;
}

div.subtitlePadding:nth-child(5) div:nth-child(2) {
    height: 50%;

    border-bottom: 1px solid white;
    border-left: 1px solid white;
}